html,
body {
	height: 100%;

	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.contact-section h1,
.contact-section h2,
.contact-section h3,
.contact-section h4,
.contact-section h5,
.contact-section h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Muli", sans-serif;
}
.contact-section h1 {
	font-size: 70px;
}

.contact-section h2 {
	font-size: 36px;
}

.contact-section h3 {
	font-size: 30px;
}

.contact-section h4 {
	font-size: 24px;
}

.contact-section h5 {
	font-size: 18px;
}

.contact-section h6 {
	font-size: 16px;
}

.contact-section p {
	font-size: 16px;
	font-family: "Muli", sans-serif;
	color: #636363;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

.contact-section img {
	max-width: 100%;
}
ul,
ol {
	padding: 0;
	margin: 0;
}

.spad {
	padding-bottom: 100px;
}

/* buttons */

.site-btn {
	color: #ffffff;
	background: #dc2b13;
	border: 1px solid #dc2b13 !important;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 45px 11px;
	cursor: pointer;
}


/*---------------------
  Map
-----------------------*/

.map {
	padding-top: 80px;
	padding-bottom: 0;
}

.map-inner {
	height: 610px;
	position: relative;
}

.map-inner iframe {
	width: 100%;
}

.map-inner .icon {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-14px, -21px);
	-ms-transform: translate(-14px, -21px);
	transform: translate(-14px, -21px);
}

.map-inner .icon i {
	font-size: 48px;
	color: #dc2d13;
}

/*---------------------
  Contact Section
-----------------------*/
.contact-Mail a,
.contact-MB a{
	text-decoration: none;
	color: unset;
}

.contact-section {
	padding-bottom: 80px;
	margin-top: 80px;
}

.contact-title {
	margin-bottom: 30px;
}

.contact-title h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 16px;
}

.contact-widget .cw-item {
	background: #ffffff;
	margin-bottom: 11px;
	-webkit-box-shadow: 0px 8px 35px 10px #E8E8E8;
	box-shadow: 0px 8px 35px 10px #E8E8E8;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
}

.contact-widget .cw-item .ci-icon {
	float: left;
	margin-top: 12px;
}

.contact-widget .cw-item .ci-icon i {
	font-size: 30px;
	color: #b2b2b2;
}

.contact-widget .cw-item .ci-text {
	display: table;
	padding-left: 30px;
}

.contact-widget .cw-item .ci-text span {
	color: #b2b2b2;
	font-size: 16px;
}

.contact-widget .cw-item .ci-text p {
	font-size: 18px;
	color: #252525;
	margin-bottom: 0;
}

.contact-form .leave-comment h4 {
	color: #292f3b;
	font-weight: 700;
	margin-bottom: 20px;
}

.contact-form .leave-comment p {
	margin-bottom: 38px;
}

.contact-form .leave-comment .comment-form input {
	width: 100%;
	font-size: 16px;
	color: #636363;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.contact-form .leave-comment .comment-form textarea {
	width: 100%;
	resize: none;
	font-size: 16px;
	color: #636363;
	height: 150px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 35px;
}

.contact-form .leave-comment .comment-form .site-btn {
	padding: 13px 35px 11px;
}

/* ------------------------------ Responsive Media Styles ---------------------------- */



/* PC: Width >= 1024px */

@media only screen and (min-width: 1024px) {

}

/* Tablet Device: Width >= 740px and Width <1024px */

@media only screen and (min-width: 740px) and (max-width: 1023px) {  }

/* Mobile: Width < 740px */

@media only screen and (max-width: 739px) {
	.contact-widget .cw-item .ci-icon {
		float: none;
		margin-bottom: 5px;
	}
	.contact-widget .cw-item .ci-text {
		padding-left: 0;
	}
	.site-btn {
		width: 100% !important;
	}
}
